.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249 250 251);
  padding: 3rem 1rem;
}

.wrapper {
  max-width: 28rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 3rem 2rem;
  }
}

