.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  position: relative;
  width: 100%;
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}

